<form class="form-outer" enctype="multipart/form-data" id="signupform">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <div class="items">
        <h3>SIGN UP</h3>
    </div>
    <div class="items">
        <label for="fieldName">Name: </label>
        <input type="text" name="name" class="na">
    </div>
    <div class="items">
        <label for="email">Email: </label>
        <input type="email" name="email" class="na">
    </div>
    <div class="items">
        <label for="photo">Upload: </label>
        <input type="file" name="photo">
    </div>
    <div class="items">
        <button type="submit" class="sub">Submit</button>
    </div>
</form>

<script>
    document.getElementById('signupform').addEventListener('submit',(evnt)=>{
        evnt.preventDefault()
        const body = new FormData(evnt.target)
        fetch('/api/signup-upload',{method:'post',body})
        .then((res)=>{
            if(res.status < 200 || res.status >= 300)
            {
                throw new Error(`An error occur ${res.status}`)
            }
            return res.json()
        })
        .then((res)=>{
            console.log(res)
            if(res.result === 'success'){
                alert('File uploaded');
            }
        })
        .catch(e =>{
            console.log(e)
        })
    })
</script>