<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meadowlark Travel</title>
    <img src="/img/img01.webp" alt="img" >
</head>
<body>
    {{{body}}}
</body>
</html>